<!--<p>usuario works
    Voy a crear un modulo :v 
    ese modulo va hacer la redireccion a las paginas lo mismo tenes que hacer para admin y auxiliar 
    si queres te los dejo definidos todos a
     va esta bueno

     AHORA VAMOS A USAR EL MISMO NAVBAR PARA USUARIOS 
     Y ASI NO ESTAR IMPORTANDO A CADA RATO
     ANTES QUE SE ME OLVIDE 
     VAMOS A CREAR EL MISMO DASHBOARD PARA LOS 3 USUARIOS
     ENTONCES SI CREAS COMPONENTES CON EL MISMO NOMBRE TRUENA
     POR ESO CUANDO SEA DE USUARIO
     CREAS
     ng g c dashboard-usuario
     SI FUESE ADMIN
     ng g c dashboard-admin
     Y ASI SUCESIVAMENTE

    !</p>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Usuario</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!--ESTO HACE LA REDIRECCION A COMPONENTES HIJOS-->
<router-outlet></router-outlet>
